@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

